body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-container {
    background-color: cornflowerblue;
    width: 100%;
    height: 600px;
    margin-top: 450px;
    position: relative;

}

.game-img {
    cursor: pointer;
}

audio {
    width: 252px;
    height: 20px;

}

#pod-lodka {
    position: absolute;
    width: 170px;
    height: 170px;
    margin-bottom: 200px;
    margin-top: -57px;
    transform: scaleX(-1);
    animation: lodka-moov 20s infinite linear;
    position: relative;
}

@keyframes lodka-moov {
    from {
        left: 0px;
    }

    to {
        left: calc(100% - 180px);
    }

}

#parus-1 {
    width: 170px;
    height: 170px;
    margin-top: -170px;
    float: right;
    animation: go-left-right 8s infinite linear;
    position: relative;
    transform: scaleX(-1);
    filter: fliph;
}

@keyframes go-left-right {

    /* объявляем имя анимации: "go-left-right" */
    from {
        right: 0px;

    }

    /* от: право: 0px */
    to {
        right: calc(100% - 60px);

    }

    /* до: право: 100%-50px */
}




#parus-2 {
    width: 170px;
    height: 170px;
    margin-top: -170px;
    float: right;
    animation: go-left-right 5s infinite linear;
    position: relative;
    transform: scaleX(-1);
    filter: fliph;

}

@keyframes go-left-right {

    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}



#fish1 {
    width: 90px;
    height: 90px;
    float: right;
    animation: fish1-moov 10s infinite linear;
    position: relative;
}

@keyframes fish1-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish2 {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 100px;
    animation: fish2-moov 8s infinite linear;
    position: relative;
}

@keyframes fish2-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish3 {
    width: 80px;
    height: 80px;
    float: right;
    margin-top: 200px;
    animation: fish3-moov 12s infinite linear;
    position: relative;
}

@keyframes fish3-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish4 {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 300px;
    animation: fish4-moov 8s infinite linear;
    position: relative;
}

@keyframes fish4-moov {
    from {
        right: 50px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish5 {
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 250px;
    animation: fish5-moov 5s infinite linear;
    position: relative;
}

@keyframes fish5-moov {
    from {
        right: 50px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#anglerfish {
    width: 150px;
    height: 150px;
    float: right;
    margin-top: 450px;
    animation: fish4-moov 4s infinite linear;
    position: relative;
}

#ship {
    width: 230px;
    height: 230px;
    margin-top: 375px;
    position: relative;
    transform: rotate(-5deg);
}