body {
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-container {
    background-color: cornflowerblue;
    width: 100%;
    height: 600px;
    margin-top: 600px;
    position: relative;
}

.game-img {
    cursor: pointer;


}

audio {
    width: 252px;
    height: 20px;
}

#pod-lodka {
    width: 200px;
    height: 180px;
    background-image: url(pl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: scaleX(-1);
    /* animation: lodka-moov 20s infinite linear; */

}

@keyframes lodka-moov {
    from {
        left: 0px;
    }

    to {
        left: calc(100% - 180px);
    }

}

#parus-1 {
    width: 200px;
    height: 180px;
    background-image: url(p2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -180px;
    float: right;
    animation: go-left-right 8s infinite linear;
    position: relative;
    transform: scaleX(-1);

}

@keyframes go-left-right {

    /* объявляем имя анимации: "go-left-right" */
    from {
        right: 0px;

    }

    /* от: право: 0px */
    to {
        right: calc(100% - 60px);

    }

    /* до: право: 100%-50px */
}




#parus-2 {
    width: 200px;
    height: 180px;
    background-image: url(p2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -180px;
    float: right;
    animation: go-left-right 5s infinite linear;
    position: relative;
    transform: scaleX(-1);
}

@keyframes go-left-right {

    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}



#fish1 {
    background-image: url(fish.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -167px;
    width: 90px;
    height: 90px;
    float: right;
    animation: fish1-moov 10s infinite linear;
    position: relative;
}

@keyframes fish1-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish2 {
    background-image: url(fish.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -57px;
    animation: fish2-moov 8s infinite linear;
    position: relative;
}

@keyframes fish2-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish3 {
    background-image: url(fish.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-top: 30px;
    float: right;
    animation: fish3-moov 12s infinite linear;
    position: relative;
}

@keyframes fish3-moov {
    from {
        right: 0px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish4 {
    background-image: url(fish.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 120px;
    margin-top: 100px;
    float: right;
    animation: fish4-moov 8s infinite linear;
    position: relative;
}

@keyframes fish4-moov {
    from {
        right: 50px;

    }

    to {
        right: calc(100% - 60px);

    }
}

#fish5 {
    background-image: url(fish.gif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 200px;
    float: right;
    animation: fish5-moov 5s infinite linear;
    position: relative;
}

@keyframes fish5-moov {
    from {
        right: 50px;

    }

    to {
        right: calc(100% - 60px);

    }

}

#anglerfish {
    background-image: url(anglerfish.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-top: 250px;
    animation: anglerfish 9s ease infinite, fish-rotate 9s steps(1) infinite;
    position: relative;
}

@keyframes anglerfish {
    0% {
        left: 50px;
    }

    50% {
        left: 90%;
    }

    100% {
        left: 50px;
    }
}

@keyframes fish-rotate {
    0% {
        transform: scale(-1, 1)
    }

    50% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(-1, 1)
    }
}

/* 
#ship {
    width: 230px;
    height: 230px;
    position: relative;
}

#seaweed {
    width: 330px;
    height: 330px;
    margin-bottom: -45px;
    position: relative;
} */